.callout {
    background-color: #eeeeee;
    width: fit-content;
    padding: 10px;
    font-weight: bold;
}

p {
    max-width: 600px;
}

.math-text {
    font-family: math, serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
